# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{java,xml}]
charset = utf-8
insert_final_newline = true

[*.java]
indent_style = tab

[pom.xml]
indent_style = space
