/target/
/jsf-spring-boot-autoconfigure/target/
/jsf-spring-boot-starter/target/
/jsf-spring-boot-autoconfigure/faces-config.NavData
/jsf-jetty-spring-boot-starter/target/
/jsf-jetty-spring-boot-autoconfigure/target/
/jsf-undertow-spring-boot-starter/target/
/jsf-undertow-spring-boot-autoconfigure/target/
/jsf-jetty-spring-boot-autoconfigure/nb-configuration.xml
/jsf-spring-boot-integration/target/
/jsf-myfaces-spring-boot-autoconfigure/target/
/jsf-myfaces-spring-boot-starter/target/
/jsf-jetty-myfaces-spring-boot-starter/target/
/jsf-jetty-myfaces-spring-boot-starter (copy)/target/
/jsf-undertow-myfaces-spring-boot-starter/target/
/jsf-jetty-spring-boot-autoconfigure (copy)/target/
/jsf-jetty-myfaces-spring-boot-autoconfigure/target/