# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches:
      - master
      - '[0-9].*'
  pull_request:
    branches:
      - master
      - '[0-9].*'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_joinfacesBuildCachePassword: ${{ secrets.BUILD_CACHE_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        java: [ 17, 20 ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.8.0

      - run: ./gradlew -V check
      - run: ./gradlew -V jacocoTestReport aggregateJacocoReport
      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.4
        with:
          files: jacoco*.xml,*Jacoco*.xml
